

.inputContainer {
    width: 100%;
    margin: 10px 0;

    font-family: var(--primary-font);
}

.fieldContainer {
    width: 100%;
    height: 62px;

    padding: 0 10px;
    margin-top: 10px;

    display: flex;
    align-items: center;

    border-radius: 10px;
    background: var(--light-blue-100);
}

.input {
    flex: 1;

    padding: 0 10px;
    font-size: 1rem;

    outline: none;

    border: none;
    background: none;
}

.label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}


.buttonIcon {
    border: none;
    background: none;
    cursor: pointer;
}

.inputContainer.inputError .fieldContainer {
    box-shadow: 0 0 6px var(--red-500);
}

.inputContainer.inputError .errorMessage {
    font-size: 0.9rem;
    display: block;
    margin-top: 5px;

    color: var(--red-500);
}
