

.button {
    display: block;

    width: 100%;
    height: 62px;

    max-width: 300px;

    border-radius: 10px;
    border: none;

    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;

    cursor: pointer;

    background: var(--orange-500);
    color: var(--white);
}


.button:hover {
    background: var(--orange-550);
    transform: scale(0.99);
}
