

.button {
    display: flex;

    align-items: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 62px;

    max-width: 300px;

    border-radius: 10px;
    border: none;

    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;

    cursor: pointer;

    background: var(--orange-500);
    color: var(--white);
}


.button:hover {
    background: var(--orange-550);
    transform: scale(0.99);
}

.button:disabled {
    background: var(--orange-550);
}

.spinnerLoadding {
    width: 24px;
    height: 24px;

    border-radius: 12px;
    border: 5px solid var(--white);
    border-bottom-color: var(--gray-100);
}

@keyframes spinAnim {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
