
.dashboardContainer {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: var(--primary-font);
}

.header {
    width: 100%;
    height: 80px;

    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--orange-500);
}

.companyName {
    font-size: 1.1rem;
    color: var(--white);
}

.menuButton {
    width: 40px;
    height: 40px;

    border: none;
    background: none;

    color: var(--white);
}

.menuContainer {
    position: absolute;
    
    top: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background: var(--black-opacity);
}

.main {
    flex: 1;
    width: 100%;
    background: var(--gray-500);
}

.mainContent {
    padding: 20px;
}

@media (max-width: 1023px) {
    .hiddenMenu {
        display: none;
    }
}

@media (min-width: 1024px) {
    .menuContainer {
        position: relative;
    }

    .main {
        display: grid;
        grid-template-columns: 250px auto;
        flex: 1;
    }
    
    .header .menuButton {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .mainContent {
        padding: 50px;
    }
}
