
.loginContainer {
    width: 100vw;
    min-height: 100vh;

    display: flex;
}

.imageContainer {
    flex: 1;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--gray-500);
}

.imageLogin {
    width: 100%;
    max-width: 750px;
}

.titleLogin {
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: bold;

    text-align: center;
    margin-top: 50px;
}

.form {
    width: 100%;
    max-width: 450px;
}

.buttonLogin {
    margin: 20px auto;
}

.formContainer {
    flex: 1;
    max-width: 700px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formTitle {
    font-size: 1.5rem;
    font-family: var(--primary-font);
    font-weight: bold;

    text-align: center;
    margin-bottom: 40px;
}

