
.loginContainer {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.imageContainer {
    flex: 1;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--gray-500);
}

.imageLogin {
    width: 100%;
    max-width: 300px;
}

.titleLogin {
    font-size: 1.2rem;
    font-family: var(--primary-font);
    font-weight: bold;

    text-align: center;
    margin-top: 50px;
}

.form {
    width: 100%;
    max-width: 450px;
    padding: 0 10px;
}

.buttonLogin {
    margin: 20px auto;
}

.formContainer {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formTitle {
    font-size: 1.5rem;
    font-family: var(--primary-font);
    font-weight: bold;

    text-align: center;
    margin-bottom: 40px;
}


@media screen and (min-width: 1024px) {
    .loginContainer {
        flex-direction: row;
    }

    .imageLogin {
        max-width: 750px;
    }

    .titleLogin {
        font-size: 2rem;
    }

    .formContainer {
        max-width: 700px;
    }
}
