.productsCategoriesContainer {
    width: 100%;
}

.table {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: var(--background-section);
}

.table thead th {
    height: 40px;
    text-align: left;
    font-weight: 600;
    font-size: 1rem;

    color: var(--gray-600);
}

.noDataCell {
    padding-top: 30px;
    text-align: center;

    font-weight: 500;
    font-size: 1.2rem;
    font-family: var(--primary-font);

    color: var(--gray-550);
}

.skeletonCell {
    height: 40px;
    border-radius: 4px;
}

.categoriesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.addCategoryButton {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    padding: 10px 16px;
    border-radius: 8px;

    font-family: var(--font-family);

    color: var(--white);
    background-color: var(--orange-500);
}

.addCategoryButton p {
    display: none;
}

.addCategoryButton:hover {
    background-color: var(--orange-550);
}



.actionColumn {
    width: 150px
}

.buttonAction {
    width: 40px;
    height: 40px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;

    border-radius: 8px;
    border: none;
}

.editButton {
    color: var(--gray-600);
    background-color: var(--light-blue-100);
}

.deleteButton {
    color: var(--red-500);
    background-color: var(--light-blue-100);
}

.buttonAction:hover {
    filter: brightness(0.9);
}

@media (min-width: 768px) {
    .addCategoryButton p {
        display: block;
    }
}


/* Add categorie */
.title {
    margin: 40px 0;
}

.addCategoryForm {
    width: 100%;
}

.formFieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    border: none;
}

@media (min-width: 768px) {
    .formFieldset {
        flex-direction: row;
    }
}
